*{
    margin: 0;
    padding: 0;
    background-color: #f5f1f1;
    font-family: "Calibri Light", serif;
}
.header{
    position: relative;
    width: 100%;
}
.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.header__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.header__logo {
    flex: 0 0 auto;
}
.header__title {
    flex: 0 0 200px;
    padding: 5px;
    text-align: center;
}
.header__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*margin-right: 5px;*/
    margin-left: 10px;
}
.header__city,
.header__phone {
    font-size: 14px;
    color: rebeccapurple;
    padding: 10px;
}
.header__search {
    flex: 1;
    margin-left: 10px;
}
.header__search-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.header__private, .header__busket {
    display: flex;
    padding: 5px;
    align-items: center;
}

.header__private a, .header__busket a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 16px;
}

.header__private a:hover, .header__busket a:hover {
    color: darkmagenta;
}

.header__menu {
    margin-top: 10px;
    margin-bottom: 10px;
    /*width: 100%;*/
    text-align: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.menu__item {
    position: relative;
}

.menu__link {
    text-decoration: none;
    color: indigo;
    font-size: 30px;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.menu__link:hover {
    color: white;
    background-color: rebeccapurple;
    border-radius: 5px;
}

.menu__link.active {
    color: white;
    background-color: darkmagenta;
    font-weight: bold;
    border-radius: 5px;
}

@media screen and (max-width: 700px){
    .header__search-input {
        display: none;
    }
}
.main-content {
    padding-top: 5px;
}
.main-content__title {
    margin-top: 220px;
    font-size: 30px;
    font-style: oblique;
    color: blue;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
}
.fade-in-out {
    animation: fadeInOut 15s linear infinite;
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.promotion__title, .navigation__title {
    font-size: 30px;
    color: rebeccapurple;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}
.promotion__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.promotion__item {
    flex: 0 1 calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
}
.promotion__link {
    display: block;
    align-items: center;
    text-decoration: none;
}
.promotion__link img{
    vertical-align: middle;
    width: 220px;
    height: 120px;
    margin: 10px;
    box-shadow: darkmagenta 0px 0px 30px;
}
.promotion__link:hover .promotion__text {
    color: #007BFF;
}
.promotion__text {
    margin-top: 20px;
    display: block;
}
.navigation__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-items: center;
}
.navigation__item {
    text-align: center;
}
.navigation__categoryLink {
    text-decoration: none;
}
.navigation__categoryLink:hover .navigation__content span {
    color: #007BFF;
}
.navigation__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #C6B9DA;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.navigation__content:hover, .promotion__content:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.navigation__content img {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 15px;
}
.navigation__content span {
    font-size: 16px;
    color: rebeccapurple;
    font-weight: 600;
}
.section__title {
    font-size: 20px;
    color: rebeccapurple;
    margin: 20px;
    font-weight: 600;
}
.section__text {
    text-indent: 40px;
}
.footer {
    padding: 25px;
    margin: 0;
    border: none;
}
.footer__links-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #C6B9DA;
}
.footer__contacts,
.footer__item {
    flex: 1;
    margin: 0 10px;
}
.footer__sub-title {
    font-size: 18px;
    color: rebeccapurple;
    background-color: #C6B9DA;
    text-align: center;
}
.footer__sublist {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer__link {
    text-decoration: none;
    text-align: center;
    color: rebeccapurple;
    display: block;
    padding: 5px;
    background-color: #C6B9DA;
}
.footer__link:hover {
    text-decoration: underline;
}
.page__link {
    font-size: 15px;
    color: rebeccapurple;
    margin-top: 10px;
    line-height: 2.5;
    text-align: center;
}

.promotion__list .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.slick-dots li button::before {
    color: darkmagenta;
}

.slick-dots li.slick-active button::before {
    color: blue;
}